  title {
    text-align: center;      
    font: monospace;
    color:crimson
  }

    figure {
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    display: block;
    display: flex;
    justify-content: right;
    width: 10%;

  }

  figcaption{
    display: inline-block;
    border: 10px dotted gray;
    margin: 10px;    
  }

  h2 {
color: rgba(120, 160, 68, 0.493);

  }